# Example /etc/sysconfig/iptables file where this config only blocks ip addresses not in allowed list.
# Upstream router has a port forward that allows ANY to connect to below ports so iptables is doing the checking.
# A internal LAN network 192.168.1.0/24 and VPN network 192.168.2.0/24 is permanent
*filter
:INPUT ACCEPT [0:0]
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT
-A INPUT -m state --state NEW -m tcp -p tcp --dport 12345 -s allowed-vlc-clients-start,192.168.1.0/24,192.168.2.0/24,allowed-vlc-clients-end -j ACCEPT
-A INPUT -m state --state NEW -m tcp -p tcp --dport 23456 -s allowed-vlc-clients-start,192.168.1.0/24,192.168.2.0/24,allowed-vlc-clients-end -j ACCEPT
-A INPUT -m state --state NEW -m tcp -p tcp --dport 8080 -s allowed-vlc-clients-start,192.168.1.0/24,192.168.2.0/24,allowed-vlc-clients-end -j ACCEPT
-A INPUT -m state --state NEW -m tcp -p tcp --dport 12345 -j REJECT
-A INPUT -m state --state NEW -m tcp -p tcp --dport 23456 -j REJECT
-A INPUT -m state --state NEW -m tcp -p tcp --dport 8080 -j REJECT
-A INPUT -j ACCEPT
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
COMMIT
